<!-- Sign In -->

    <head>
        <title>Sign in</title>
    </head>

    <h1 style="color:red;">Sign in</h1>

   <form method="post" action="/signin">
<fieldset>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="username" name="username" class="form-control" id="username" aria-describedby="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" id="password">
    </div>
  <input type="submit" class="btn btn-outline-primary" value="Sign in">

 <p>Not a user? <a href="/register">Register</a></p>
 </fieldset>
    </form>

