<h1> Game Reviews</h1>

  <nav>
  <% if @reviews.empty? %>
    <p>
    <em>Be the first to make a review<em>
    </p>
  <% else %>
    <% @reviews.each do |review| %>
    <p><a href="/reviews/<%=review.id%>"><%=review.game_title%></a></p>
    <% end %>
  <% end %>
  </nav>

<nav>
<% if !signed_in?%>
  <a href="/signin">Sign In</a>
  <a href="/register">Register</a>
<% else %>
   <a href="/reviews/create_rev">Create a post</a>
    <form method="post" action="/signout" style="display: inline-block;">
    <input type="hidden" name="_method" value="delete" />
    <input type="submit" value="Sign Out"/>
    </form>
    <% end %>
</nav>