<!-- Main Review Page -->

<h1 style="color:red;"> Game Reviews</h1>

  <nav>
  <% if @reviews.empty? %>
    <p>
    <em>Be the first to make a review<em>
    </p>
  <% else %>
    <% @reviews.each do |review| %>
    <p><a href="/reviews/<%=review.id%>"><%=review.game_title%></a></p>
    <% end %>
  <% end %>
  </nav>

<nav>
<% if !signed_in?%>
  <a href="/signin" class="btn btn-outline-primary" style="float: right;">Sign In</a>
  <a href="/register" class="btn btn-outline-primary" style="float: right;">Register</a>
<% else %>
   <a href="/reviews/create_rev" class="btn btn-outline-primary">Create a Review</a>
    <form method="post" action="/signout">
    <input type="hidden" name="_method" value="delete" />
    <input type="submit" class="btn btn-primary" style="float: right;" value="Sign Out"/>
    </form>
    <% end %>
</nav>