<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>GRZ</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
<header><img src="images/grz.png" class="img-responsive main-image"></header>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
     
        <nav>
<% if !signed_in?%>
  <a href="/signin" class="btn btn-danger">Sign In</a>
<% else %>
   <a href="/reviews/create_rev" class="btn btn-secondary">Create a Review</a>
    <form method="post" action="/signout">
    <input type="hidden" name="_method" value="delete" />
    <input type="submit" class="btn btn-secondary" style="float: right;" value="Sign Out"/>
    </form>
    <% end %>
</nav>

  </div>
</nav>
  
    <div class="wrapper">
    
      <%= styled_flash %>
        <%= yield %>

      <footer class="branding">
        <small>&copy; 2020 <strong>GRZ</strong></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
